@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: flex;

  > section {
    padding: app-padding();
    display: grid;
    grid-template-columns: 320px;
    grid-row-gap: 20px;
  }
}
