<a class="app-name" [routerLink]="['../app-details', app.symbolicName]">{{app.name}}</a>
<span class="app-symbolic-name" title="symbolic name">{{app.symbolicName}}</span>
<a class="url" [href]="app.baseUrl" target="_blank">{{app.baseUrl}}</a>

<div class="chips">
  <span class="chip" *ngIf="intentCount">{{intentCount}} {{intentCount === 1 ? 'intention' : 'intentions'}}</span>
  <span class="chip" *ngIf="capabilityCount">{{capabilityCount}} {{capabilityCount === 1 ? 'capability provider' : 'capability providers'}}</span>
</div>
