@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: flex;
  padding: app-padding();

  > section {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
}
