<section>
  <h2>Filter Providers</h2>
  <sci-form-field label="Application">
    <input [formControl]="form.get(APP)">
  </sci-form-field>
  <sci-form-field label="Type">
    <input [formControl]="form.get(TYPE)">
  </sci-form-field>
  <sci-params-enter [paramsFormArray]="form.get(QUALIFIER)" title="Qualifier" [addable]="true" [removable]="true"></sci-params-enter>

  <output *ngIf="capabilityLookupResult$ | async as capabilities">
    <h3>Capabilities matching the filter:</h3>
    <sci-accordion *ngIf="capabilities.length else notFound">
      <ng-container *ngFor="let capability of capabilities">
        <ng-template sciAccordionItem [panel]="panel">
          <app-provider-accordion-item [provider]="capability" [appSymbolicName]="capability.metadata.appSymbolicName"></app-provider-accordion-item>
        </ng-template>

        <ng-template #panel>
          <app-provider-accordion-panel [provider]="capability"></app-provider-accordion-panel>
        </ng-template>
      </ng-container>
    </sci-accordion>
    <ng-template #notFound>
      No capabilities found.
    </ng-template>
  </output>
</section>
