@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: flex;
  padding: app-padding();

  > section {
    display: flex;
    flex-direction: column;
    flex: auto;

    > output {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      > sci-accordion {
        flex: auto;
        min-height: 10em;
      }
    }
  }
}
