<section>
  <section class="filter">
    <h2>Filter Providers</h2>
    <sci-form-field class="app" label="Application">
      <input [formControl]="form.get(APP)" (keydown.enter)="onAddAppFilter()">
    </sci-form-field>
    <sci-form-field class="type" label="Type">
      <input [formControl]="form.get(TYPE)" (keydown.enter)="onAddTypeFilter()">
    </sci-form-field>
    <sci-params-enter [paramsFormArray]="form.get(QUALIFIER)" title="Qualifier" [addable]="true" [removable]="true"></sci-params-enter>
    <button class="add-qualifier material-icons" type="button" (click)="onAddQualifierFilter()">add</button>
  </section>

  <section class="applied-filters" *ngIf="hasFilter()">
    <h3>Filters</h3>
    <div class="filters">
      <ng-container *ngIf="apps.length">
        <label>App</label>
        <div class="app-filters">
          <span class="app" *ngFor="let app of apps" (click)="onRemoveAppFilter(app)">{{app}}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="types.length">
        <label>Type</label>
        <div class="type-filters">
          <span class="type" *ngFor="let type of types" (click)="onRemoveTypeFilter(type)">{{type}}</span>
        </div>
      </ng-container>
      <ng-container *ngIf="qualifiers.length">
        <label>Qualifier</label>
        <div class="qualifier-filters">
          <span class="qualifier" *ngFor="let qualifier of qualifiers" (click)="onRemoveQualifierFilter(qualifier)">
            <ng-container *ngIf="getKeys(qualifier) as keys; else emptyQualifier">
              <ng-container *ngFor="let key of keys">
                <span class="key">{{key}}</span>&#32;:&#32;<span class="value">{{qualifier[key]}}</span>
              </ng-container>
            </ng-container>
            <ng-template #emptyQualifier>&#123;&#125;</ng-template>
          </span>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="result" *ngIf="hasSubscription()">
    <h3>Capabilities matching the filter:</h3>
    <output *ngIf="capabilityLookupResult$ | async as capabilities">
      <sci-accordion *ngIf="capabilities.length else notFound">
        <ng-container *ngFor="let capability of capabilities">
          <ng-template sciAccordionItem [panel]="panel">
            <app-provider-accordion-item [provider]="capability" [appSymbolicName]="capability.metadata.appSymbolicName"></app-provider-accordion-item>
          </ng-template>

          <ng-template #panel>
            <app-provider-accordion-panel [provider]="capability"></app-provider-accordion-panel>
          </ng-template>
        </ng-container>
      </sci-accordion>
      <ng-template #notFound>
        No capabilities found.
      </ng-template>
    </output>
  </section>
</section>
