<sci-menu-bar [class.left]="isMenuBarLeft">
  <ng-template sciMenuItem>
    <a [routerLink]="['app-list']" title="List"><i class="material-icons list">list</i></a>
  </ng-template>
  <ng-template sciMenuItem>
    <a [routerLink]="['find-capabilities']" title="Filter"><i class="material-icons search">search</i></a>
  </ng-template>
  <ng-template sciMenuItem>
    <a [routerLink]="['app-dependencies']" title="Dependencies"><i class="material-icons share">share</i></a>
  </ng-template>
</sci-menu-bar>
<sci-viewport sciDimension (sciDimensionChange)="onDimensionChange($event)">
  <router-outlet></router-outlet>
</sci-viewport>
