<section class="app-list" [class.show-details]="showDetails" [class.hide]="hideAppList">
  <header>Application List<span *ngIf="showDetails" (click)="hideAppList = true" class="hide-app-list"><<</span></header>
  <sci-list (filter)="onAppFilter($event)" filterPosition="top">
    <ng-template *ngFor="let app of applications$ | async; trackBy: trackByFn" sciListItem [key]="app.symbolicName">
      <a class="app-name" [routerLink]="['app-detail', app.symbolicName]">{{app.name}}</a>
    </ng-template>
  </sci-list>
</section>
<section class="details">
  <span *ngIf="hideAppList" (click)="hideAppList = false" class="show-app-list">>></span>
  <router-outlet (activate)="showDetails = true" (deactivate)="showDetails = false"></router-outlet>
</section>
