@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: flex;
  padding: app-padding();

  > section {
    display: flex;
    flex: auto;
    flex-direction: column;

    > sci-list {
      flex: auto;
    }
  }
}
