@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: grid;
  grid-auto-columns: 1fr 3fr;

  header {
    background-color: accentColor(.1);
    padding: .5em;
    font-size: 1em;
    font-weight: bold;
  }

  span {
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;

    &.hide-app-list {
      float: right;
    }

    &.show-app-list {
      position: absolute;
      top: .5em;
      left: 0;
    }
  }

  > section.app-list {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;

    &.show-details {
      grid-column: 1 / 2;
    }

    &.hide {
      display: none;
    }

    > sci-list {
      padding: app-padding();
      flex: auto;

      a:hover {
        cursor: pointer;
      }
    }
  }

  > section.details {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  > section.app-list:not(.show-details) + section.details {
    display: none;
  }

  > section.app-list.hide + section.details {
    grid-column: 1 / 3;
  }
}
