<section *ngIf="app$ | async as app">
  <header>{{app.name}}</header>
  <section>
    <section class="properties">
      <label class="app-name">Name:</label>
      <span class="app-name">{{app.name}} ({{app.symbolicName}})</span>

      <label class="app-url">URL:</label>
      <a class="app-url" [href]="app.baseUrl" target="_blank">{{app.baseUrl}}</a>

      <ng-container *ngIf="app.manifestUrl">
        <label class="manifest-url">Manifest:</label>
        <a class="manifest-url" [href]="app.manifestUrl" target="_blank">{{app.manifestUrl}}</a>
      </ng-container>
    </section>
    <sci-tab-bar>
      <ng-template sciTab="Test Sash Box">
        <sci-sashbox direction="column">
          <ng-template sciSash *ngIf="showSash">
            <div style="border: 1px solid black;">
              <h1>Title</h1>
            </div>
          </ng-template>

          <ng-template sciSash *ngIf="showSash">
            <div style="border: 1px solid black;">
              <h1>Title</h1>
            </div>
          </ng-template>
        </sci-sashbox>
      </ng-template>
      <ng-template sciTab="Capabilities">
        <section class="providers" *ngIf="providers$ | async as capabilities">
          <h2>Capabilities<span class="count-badge">{{capabilities.length}}</span></h2>
          <sci-filter-field #capability_filter_field (filter)="onCapabilityFilter($event)"></sci-filter-field>
          <sci-accordion (keydown)="capability_filter_field.onKeydown($event)">
            <ng-container *ngFor="let provider of capabilities">
              <ng-template sciAccordionItem [panel]="panel">
                <app-provider-accordion-item [provider]="provider"></app-provider-accordion-item>
              </ng-template>

              <ng-template #panel>
                <app-provider-accordion-panel [provider]="provider"></app-provider-accordion-panel>
              </ng-template>
            </ng-container>
          </sci-accordion>
        </section>
      </ng-template>
      <ng-template sciTab="Intentions">
        <section class="intentions" *ngIf="intentions$ | async as intents">
          <h2>Intents<span class="count-badge">{{intents.length}}</span></h2>
          <sci-filter-field #intent_filter_field (filter)="onIntentFilter($event)"></sci-filter-field>
          <sci-accordion (keydown)="intent_filter_field.onKeydown($event)">
            <ng-container *ngFor="let intent of intents">
              <ng-template sciAccordionItem [panel]="panel">
                <app-intent-accordion-item [intent]="intent"></app-intent-accordion-item>
              </ng-template>

              <ng-template #panel>
                <app-intent-accordion-panel [intent]="intent"></app-intent-accordion-panel>
              </ng-template>
            </ng-container>
          </sci-accordion>
        </section>
      </ng-template>
      <ng-template sciTab="Dependencies">
        <section class="dependencies">
          <div class="requires">
            <span>Requires</span>
            <sci-list>
              <ng-template *ngFor="let app of requiresApplications$ | async; trackBy: trackByFn" sciListItem [key]="app.symbolicName">
                <a class="app-name" [routerLink]="['../', app.symbolicName]">{{app.name}}</a>
              </ng-template>
            </sci-list>
          </div>
          <div class="required-by">
            <span>Required by</span>
            <sci-list>
              <ng-template *ngFor="let app of requiredByApplications$ | async; trackBy: trackByFn" sciListItem [key]="app.symbolicName">
                <a class="app-name" [routerLink]="['../', app.symbolicName]">{{app.name}}</a>
              </ng-template>
            </sci-list>
          </div>
        </section>
      </ng-template>
      <ng-template sciTab="Platform Flags">
        <section class="platform-flags">
          <div>
            <h3 [class.warning]="app.scopeCheckDisabled">Scope Check</h3>
            <span *ngIf="app.scopeCheckDisabled; else scopeCheckEnabled">
              Scope check is disabled for this application. This application can use private capabilities of other applications.
            </span>
            <ng-template #scopeCheckEnabled>
              <span>
                Scope check is enabled for this application. This application can only use public capabilities of other applications.
              </span>
            </ng-template>
          </div>

          <div>
            <h3 [class.warning]="!app.intentionRegisterApiDisabled">Intention Register API</h3>
            <span *ngIf="app.intentionRegisterApiDisabled; else intentionRegisterApiEnabled">
              Intention register API is disabled for this application. This application has to declare intentions in its manifest.
            </span>
            <ng-template #intentionRegisterApiEnabled>
              <span>
                Intention register API is enabled for this application. This application can register intentions dynamically.
              </span>
            </ng-template>
          </div>

          <div>
            <h3 [class.warning]="app.intentionCheckDisabled">Intention Check</h3>
            <span *ngIf="app.intentionCheckDisabled; else intentionCheckEnabled">
              Intention check is disabled for this application. This application can issue intents for which it has not declared any intention.
            </span>
            <ng-template #intentionCheckEnabled>
              <span>
                Intention check is enabled for this application. This application can only issue intents for which it has declared an intention in its manifest.
              </span>
            </ng-template>
          </div>
        </section>
      </ng-template>
    </sci-tab-bar>
  </section>
</section>
