@import './projects/scion/ɵtoolkit/widgets/src/theming/widgets';

:host {
  display: flex;
  flex: auto;

  section {
    display: flex;
    flex-direction: column;
    flex: auto;

    > output {
      padding: app-padding();
      display: flex;
      flex: auto;

      > sci-accordion {
        flex: auto;
        min-height: 10em;
      }
    }
  }
}
